<div class="card">
    <div class="card-header">
        Fizz Buzz
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="clicked()">
            <div class="input-group" [class.mb-3]="!(submitted && form.invalid)">
                <div class="input-group-prepend">
                            <span class="input-group-text">
                                <div class="input-group-prepend">
                                    <fa-icon [icon]="icon"></fa-icon>
                                </div>
                            </span>
                </div>
                <input type="text" class="form-control" placeholder="5, 10, 13, 25" id="fizzbuzzinput" formControlName="goals"
                       [readOnly]="disabled">
            </div>
            <ng-container *ngIf="submitted && form.invalid && form.controls.goals.errors">
                <div class="m-0 p-0 text-danger" *ngIf="form.controls.goals.errors.required">
                    <small>Hey! This field is not optional!</small>
                </div>
                <div class="m-0 p-0 text-danger" *ngIf="form.controls.goals.errors.format">
                    <small>{{validationMessage ? validationMessage : 'This value is badly formatted. Try this: 55, 10, 66, 15'}}</small>
                </div>
            </ng-container>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="disabled">Fizz Buzz each!</button>
            </div>
            <div class="m-0 p-0 text-danger text-center" *ngIf="errorMessage">
                <small>{{errorMessage}}</small>
            </div>
        </form>
    </div>
</div>
